/* Anpassung des Randes für Eingabefelder */
.form-control {
    border-color: #eabc4c;
}

/* Fokus-Stil für Eingabefelder mit gelbem Rand und Schatten */
.form-control:focus {
    border-color: #eabc4c;
    box-shadow: 0 0 0 0.25rem rgb(50, 50, 50);
}

/* Anpassung des primären Buttons: Hintergrund, Rand und Textfarbe */
.btn-primary {
    background-color: #eabc4c;
    border-color: #eabc4c;
    color: black;
}

/* Button Stil beim Hover-Effekt */
.btn-primary:hover {
    background-color: #8c6f2b;
    border-color: #8C6F2BFF;
    color: white;
}

/* Stil für eine benutzerdefinierte Autokarte mit rotem Rand, Radius, Polsterung und Abstand */
.car-card {
    border: 2px solid #eabc4c; /* Roter Rand */
    border-radius: 10px; /* Gerundete Ecken */
    padding: 0; /* Entferne Innenabstand, um Überlauf zu verhindern */
    margin-bottom: 10px; /* Abstand unterhalb jeder Karte */
    overflow: hidden; /* Überlauf clippen, um den Border-Radius zu respektieren */
}

/* Stil für ein Autocover mit festen Abmessungen und vollständig gerundeten Ecken */
.car-poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px; /* Vollständig gerundete Ecken */
}

/* Die Klasse für das Bild im Kartenkopf, um die Größe einheitlich anzupassen und gerundete obere Ecken */
.card-img-top {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px; /* Gerundete obere linke Ecke */
    border-top-right-radius: 10px; /* Gerundete obere rechte Ecke */
}

/* Card body mit Padding */
.card-body {
    padding: 10px;
}

/* Tabelleneinstellungen: keine automatische Rand-Kollaps und feste Breite */
.table {
    border-collapse: initial;
    border-spacing: 0;
    width: auto;
}

/* Kopfzeilen der Tabelle zentriert, gepolstert, fett und mit gelbem Hintergrund */
.table thead th {
    padding: 4px;
    text-align: center;
    font-weight: bold;
    background-color: #eabc4c;
    color: #000000;
}

/* Entfernt den Standard-Außenabstand für alle Absatz-Tags in no-spacing */
.no-spacing p {
    margin: 0;
}

/* Stil für benutzerdefinierte Navigationsleiste mit schwarzem Hintergrund */
.navbar-custom {
    background-color: black;
}

/* Zentriert den Inhalt der Navigationsleiste vertikal */
.navbar-custom .navbar-collapse {
    display: flex;
    align-items: center;
}

/* Stil für das Markenlogo: Flexible Breite, ohne übermäßige Polsterung */
.navbar-custom .navbar-brand {
    flex-grow: 1;
    flex-basis: 0;
    padding-bottom: 0;
    padding-top: 0;
    max-width: 3%;
}

/* Markenlogo: Bild passt sich der Breite an und bleibt proportional */
.navbar-custom .navbar-brand img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Zentriert das Navigationsmenü horizontal */
.navbar-custom .navbar-nav {
    flex-grow: 0;
    margin-left: auto;
    margin-right: auto;
}

/* Farbe für Navigationslinks in gelb */
.navbar-custom .navbar-nav .nav-link {
    color: #eabc4c;
}

/* Hover-Effekt für Navigationslinks: Farbe wechselt zu weiß */
.navbar-custom .navbar-nav .nav-link:hover {
    color: #ffffff;
}

/* Farbe für aktive Navigationslinks in weiß */
.navbar-custom .navbar-nav .nav-link.active {
    color: #ffffff;
    font-weight: bold; /* Optional: Hervorhebung durch Fettung */
}

/* Formular in der Navigationsleiste: Keine Dehnung */
.navbar-custom form {
    flex-grow: 0;
}

/* Gleiche Farbgebung für Pagination-Buttons wie .btn-primary */
.pagination .page-link {
    background-color: #eabc4c; /* gleiche Hintergrundfarbe wie .btn-primary */
    border-color: #eabc4c; /* gleicher Rand */
    color: black; /* Textfarbe anpassen */
}

.pagination .page-link:hover {
    background-color: #8c6f2b; /* Hover-Effekt wie .btn-primary:hover */
    border-color: #8c6f2b;
    color: white;
}

/* Aktiver Pagination-Button */
.pagination .page-item.active .page-link {
    background-color: #eabc4c;
    border-color: #eabc4c;
    color: #000000;
}
